/* reset css */
* , *::after , *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/assets/img/background/bg.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}
#preload {
    background: var(--white-color) url('../img/background/preload.gif') center center no-repeat;
    inset: 0;
    position: fixed;
    z-index: 1000;
    visibility: visible;
    transition: 1s;
    opacity: 1;
}

/* Header */
#header {
    border-bottom: 1px solid var(--light-grey);
}
/* =========================================== */
.header {
    justify-content: space-between;
    height: var(--header-height);
}
.logo a {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}
.logo img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.navbar__item {
    margin: 0 20px;
    list-style: none;
}
.menu-mobile ul{
    list-style: none;
}
.navbar__link, .menu-mobile a {
    position: relative;
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    color: var(--black-color);
    padding: 0 5px;
}
.navbar__link::after, .menu-mobile a::after {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: var(--green-color);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .18s ease-in-out;
}
.navbar__link:hover:after, .menu-mobile a:hover:after  {
    transform-origin: left;
    transform: scaleX(1);
}
.navbar__coin-reward {
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    overflow: hidden;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
}
.navbar__coin-reward__icon {
    background-color: var(--light-grey);
    color: #27ae60;
    padding: 10px;
}
.navbar__coin-reward__total {
    background-color: var(--white-color);
    color: #218c74;
    padding: 10px;
}
.user__profile {
    position: relative;
    margin-left: 30px;
    cursor: pointer;
}
.user__profile::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: transparent;
}
.user__img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.user__name {
    margin: 0 10px;
}
.user__show-more {
    position: absolute;
    top: 80px;
    right: 0px;
    visibility: hidden;
    transform-origin: 90% top ;
    animation: profileGrowth ease .3s;
    will-change: opacity , transform;
    transform: scale(0);
    transition: .3s;
    opacity: 0;
    z-index: 5;
    background-color: var(--white-color);
}
.user__show-more__list {
    border-radius: 16px;
    box-shadow: 0px 4px 25px rgb(14 36 49 / 15%);
    list-style: none;
}
.user__show-more__item {
    border-bottom: 1px solid var(--light-grey);
}
.user__show-more__item:last-child {
    border-bottom: 0px
}
.user__show-more__item a {
    padding: 15px;
    padding-right: 100px;
    align-items: center;
    color:var(--dark-green);
}
.user__show-more__item:last-child a {
    color: var(--red-color);
}
.user__show-more__item i{
    margin: 0 20px 0 20px;
}
.user__profile:hover .user__show-more {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
@keyframes profileGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Nav Mobile */
.menu-mobile__btn {
    font-size: 20px;
    color: var(--black-color);
}
.menu-mobile {
    position: fixed;
    background: var(--white-color) url('/assets/img/recycle.png') bottom 50px right 100px;
    width: 200px;
    z-index: 10;
    bottom: 0; top: 0; right: 0;
    transition: .4s;
    transform: translateX(100%);
    opacity: 0;
    text-align: center;
}
.menu-mobile li {
    margin-top: 15px;
    padding: 20px;
}
.menu-mobile a {
    font-size: 15px;
}
.menu-input:checked ~ .overlay {
    display: block;
}
.menu-input:checked ~ .menu-mobile {
    transform: translateX(0%);
    opacity: 1;
}
/* Main content */
#main {
    padding: 50px 0;
} 
.redeem-gifts__heading {
    color: var(--dark-green);
}
/* CATEGORY */
.category {
    background: linear-gradient(to top right, var(--green-color) , var(--dark-green));;
    border-radius: 20px;
}
.category__heading {
    color: var(--white-color);
    border-bottom: 1px solid var(--light-grey);
    padding: 15px 20px;
    text-shadow: .5px .5px var(--black-color);
}
.category__item {
    justify-content: space-around;
    padding: 15px;
}
.category__checker {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border: 3.5px solid var(--white-color);
    border-radius: 8px;
    cursor: pointer;
}
.category__checker::before {
    content: "";
    width: 10px;
    height: 10px;
    clip-path: inset(0);
    transform: scale(0);
    background-color: var(--white-color);
    transition: .1s;
}  
.category__checker:checked::before {
    transform: scale(1);
}
.category__describe {
    width: 160px;
    height: 45px;
}
.category__brand {
    height: 40px;
    width: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    background-color: var(--white-color);
}
.category__name {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    text-shadow: .5px .5px var(--black-color);
    margin-left: 10px;
}
.category__quantity {
    font-size: 16px;
    color: var(--light-grey);
    text-shadow: .5px .5px var(--black-color);
}
/* VOUCHER */
.voucher__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom  right, var(--green-color) , var(--dark-green));;
    padding: 25px;
    border-radius: 20px;
    padding-bottom: 8px;
    box-shadow: var(--sharp-box-shadow);
    transition: .5s;
    will-change: transform;
    margin-top: 30px;
    cursor: pointer;
}
.voucher__item:hover {
    transform: translateY(-10px);
}
.voucher__value {
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    position: absolute;
    right: 25px;
    top: 15px;
}
.voucher__img {
    height: 180px;
    background: center / contain no-repeat;
}
.voucher__describe {
    color: var(--white-color);
    overflow: hidden;
}
.voucher__name {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
}
.voucher__date {
    font-size: 12px;
}
/* TOP RANKING */
.top-ranking__heading {
    color: var(--dark-blue);
}
.top-ranking__item {
    background: linear-gradient(to bottom  right, var(--blue-color) , var(--dark-blue));;
    padding: 15px 25px;
    border-radius: 20px;
    justify-content: space-between;
    margin: 24px 0;
    transform: scale(1);
    transition: .5s;
    box-shadow: var(--sharp-box-shadow);
}
.top-ranking__item:hover {
    transform: scale(1.05);
}
.top-ranking__img {
    height: 75px;
    margin-right: 10px;
}
.top-ranking__describe {
    padding-left: 15px;
    border-left: 2px solid #c7c7c7;
    margin-right: auto;
}
.top-ranking__user {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px dashed var(--white-color);
}
.rank-user-name {
    color: var(--white-color);
    letter-spacing: 1px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 265px;
}
.top-ranking__total-coin {
    font-size: 20px;
    color: var(--white-color);
}
.rank-top  {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    text-shadow: 1px 1px var(--black-color);
    font-style: italic;
}
.rank-top-1 {
    color: var(--yellow-color);
}
.rank-top-2 {
    color: var(--light-grey);
}
.rank-top-3 {
    color: var(--dark-yellow);
}
/* Tổng quát cho bảng */
.ranking-table__tab {
    padding: 15px;
    background: linear-gradient(to bottom  right, var(--blue-color) , var(--dark-blue));;
    border-radius: 20px;
}
/* Table */
.table-responsive {
    overflow-x: auto;
}
.table {
    width: 100%;
    color: #212529;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
}

/* Định dạng cho phần tiêu đề bảng */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
    text-align: left;
}
/* Định dạng cho hàng */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table tbody tr:nth-child(odd) {
    background-color: var(--white-color);
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

/* Định dạng cho cột */
.table tbody td {
    vertical-align: middle;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    background: no-repeat center / cover;
}
/* Định dạng cho cột Credit */
.table__coin {
    margin-bottom: 3px;
    vertical-align: middle;
}
.table__show-more {
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
}
/* EVENT */
.event__heading {
    color: var(--dark-green);
}
.event {
    display: flex;
    justify-content: center;
}
.event iframe {
    width: 100%;
    border: 1px dashed var(--dark-green) !important;
    border-radius: 20px;
}
/* QR SCANNER */
.qr-scanner__heading {
    color: var(--dark-blue);
}
#qr-reader {
    background-color: var(--white-color);
    border: 1px dashed var(--dark-blue) !important;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 55px 0;
}
#qr-reader span {
    color: var(--dark-blue);
}
#qr-reader button, #qr-reader select {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    border: 4px solid var(--dark-blue);
    color: var(--super-dark-green);
    font-size: 15px;
    font-weight: var(--font-weight-bold);
    margin: 24px 0;
    cursor: pointer;
    outline: none;
}
#qr-reader video {
    width: 100%;
}
/* Footer */
#footer {
    border-top: 1px solid var(--light-grey);
    padding: 30px 0;
}
.footer__privacy--item a {
    color: var(--black-color);
    font-size: 13px;
    font-weight: var(--font-weight-bold);
    margin: 0 12px;
    opacity: .7;
    transition: .2s;
}
.footer__privacy--item a:hover {
    color: var(--dark-green);
    opacity: 1;
}
.footer__social {
    justify-content: space-between;
}
.footer__copyright {
    color: var(--black-color);
    font-size: 11px;
    font-weight: var(--font-weight-bold);
    opacity: .6;
    margin: 24px 0;
}
.footer__social-media a {
    color: var(--dark-green);
    padding: 7px 10px;
    border: 1px solid var(--dark-green);
    border-radius: 50%;
    margin-left: 15px;
}
.footer__social-media i {
    width: 18px;
    height: 18px;
}
/* FORM SUBMIT*/
.form {
    margin: 24px;
}
.form-control {
    margin: 6px 0;
}
.form-message {
    color: var(--red-color);
    font-weight: var(--font-weight-bold);
    font-size: 14px;    
}
.form-group {
    margin: 15px 0;
}
/* History */
.history-table {
    margin: 35px 0;
    border-radius: 20px;
    box-shadow: var(--light-box-shadow);
    border: 4px solid var(--green-color);
    padding: 15px;
    max-height: 525px;
    overflow-y: auto;
}
.history-table .coin {
    position: relative;
    top: 4px;
}
#duration {
    padding: 14px 15px;
    font-size: 16px;
    opacity: .6;
    color: var(--black-color);
    font-weight: var(--font-weight-bold);
    margin-left: 20px;
    border: none;
    border: 4px solid var(--dark-green);
    border-radius: 20px;
    outline: none;
    background-color: var(--light-grey);
}
/* NOTIFICATION */
.notification__container{
   width: 100%;
   background-color: var(--white-color);
}
#num-of-notification{
    background-color: var(--dark-blue);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    margin-left: 10px;
}
#mark-as-read{
    cursor: pointer;
    color: var(--dark-blue);
    font-weight: var(--font-weight-bold);
    margin: 10px 0;
}
.notification__container main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notification__card{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #e2e2e2;
    transition: .2s;
}
.notification__card img{
    width: 50px;
}
.notification__card .description{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.notification__card:hover {
    opacity: .8;
    transition: .2s;
}
.unread{
    background-color: rgb(251, 201, 210);
}
.notif-time {
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    color: var(--dark-green);
}